CompileFlags:
  Add:
    - -O2
    - -Wall
    - -Wextra
    - -Wshadow
    - -Wno-unknown-pragmas
    - -Wno-sign-compare
    - -std=c++23

    - -fsanitize=address
    - -fsanitize=undefined

Diagnostics:
  UnusedIncludes: None

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  Designators: Yes
